page-eventos {

	#todo {
    width: 100%;
	height: 100%;
	}
	#uno {
    width: 100%;
	height: 35%;
	}
	#dos {
    width: 100%;
	height: 65%;
	}
	ion-slide {
      background-color: #32db64;
    }
 
    ion-slide img {
      height: 70vh !important;
      width: auto !important;
    }
}
