page-eventosdetalle {

	#todo {
    width: 100%;
	height: 100%;
	border-color: red;
	}
	#superior {
    width: 100%;
	height: 20%;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Nazi_swastika_clean.svg/200px-Nazi_swastika_clean.svg.png");
	border-style: solid;
    border-color: #0000ff;
	}
	#estado {
    width: 100%;
	height: 15%;
	border-style: solid;
    border-color: #0000ff;
	}
	#texto {
    width: 100%;
	height: 25%;
	border-style: solid;
    border-color: #0000ff;
	}
	#aistentes {
    width: 100%;
	height: 15%;
	border-style: solid;
    border-color: #0000ff;
	}
	#accion {
    width: 100%;
	height: 15%;
	border-style: solid;
    border-color: #0000ff;
	}
	#inferior {
    width: 100%;
	height: 10%;
	border-style: solid;
    border-color: #0000ff;
	}

}
